body{
	background: #eee;
}
.input_width{
	width: 200px;
}

.login{
	
	width: 20%;
	margin: auto;
	box-shadow: 0 0 3px white;
}

.error_login{
	width: 30%;
	text-align: center;
	margin: 40px auto;
}



